RewriteEngine On

# Forward root requests to public/
RewriteRule ^$ public/ [L]

# Forward any other requests validation that aren't already pointing to public
RewriteRule ^((?!public/).*)$ public/$1 [L,NC]